<nav>
      <div class="site-title">
        <a href="/">Blog 001Networks</a>
        <p>Zero ZeroOne Networkz site</p>
      </div>
      <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">News Blog</a></li>
      </ul>
    </nav>