<!DOCTYPE html>
<html lang="en">
 <%- include ('./partials/head.ejs') %>
  <body>
    <%- include ('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates labore quidem sunt odio nesciunt, maiores distinctio explicabo ratione iure consequatur cupiditate laborum porro error? Eum deleniti sequi mollitia possimus dignissimos.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates labore quidem sunt odio nesciunt, maiores distinctio explicabo ratione iure consequatur cupiditate laborum porro error? Eum deleniti sequi mollitia possimus dignissimos.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates labore quidem sunt odio nesciunt, maiores distinctio explicabo ratione iure consequatur cupiditate laborum porro error? Eum deleniti sequi mollitia possimus dignissimos.</p>
    </div>

    <%- include ('./partials/footer.ejs') %>
  </body>
</html>
